@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>About me</h1>
<img src="https://lh3.googleusercontent.com/GyEKg8NFjX0jNonlTqROtJP_AE5VkbkcmPu3OXH2KsA9frCgQchMfy8VoKLrgkW3p3gqM0UENJZzNW1R3zve3LglF8B_q6cEFQAzCoMV"/>
<p>
    My name is Ulianna. I'm from Kriviy Rih, but moved to Kyiv at 2013. <br />
    I like to do a lot of different things, to learn something new.<br />
    I like anymals, especially cats.<br />
    I take care about nature - I do sorting, recucling, reducing.
</p>